In [1]:
import requests
import json
import pandas as pd

In [30]:
url = "https://twitter-data1.p.rapidapi.com/Search/"

querystring = {"q":"Jakarta", "count":"100"}

headers = {
	"X-RapidAPI-Key": "a6129818camshba593fc1a0fb7dbp109dabjsn602bb7495377",
	"X-RapidAPI-Host": "twitter-data1.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

In [3]:
print(response)

<Response [200]>

In [31]:
data = json.loads(requests.get(url, headers=headers, params=querystring).text)

In [32]:
data_to_collect = data["globalObjects"]["tweets"]

In [ ]:
data_to_collect.values()

In [ ]:
tweet_data = pd.DataFrame(columns=["tweet_created", "tweet_id", "tweet"])

for tweet in data_to_collect.values():
    tweet_created = tweet["created_at"]
    tweet_id = tweet["id_str"]
    tweet_value = tweet["full_text"]
    tweet_source = tweet["source"]
    tweet_data = tweet_data.append({"tweet_created": tweet_created, "tweet_id": tweet_id, "tweet": tweet_value, "tweet_source": tweet_source}, ignore_index=True)

In [35]:
my_new_string = tweet_data["tweet_source"].replace('<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>', "Twitter for Android").replace('<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', "Twitter for iPhone").replace('<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>', "Twitter Web App").replace('<a href="https://help.twitter.com/en/using-twitter/how-to-tweet#source-labels" rel="nofollow">advertiser-interface</a>', "Other")

In [36]:
tweet_data["tweet_source"] = my_new_string
tweet_data

,tweet_created,tweet_id,tweet,tweet_source
0,Tue Apr 18 08:11:29 +0000 2023,1648237803615158275,📑 Check out a new bulletin «Activities of the ...,Twitter for iPhone
1,Tue Apr 18 00:46:33 +0000 2023,1648125832672718848,HYBE expected activity plan Q4 2023\n\nTXT - a...,Twitter for iPhone
2,Tue Apr 18 12:17:18 +0000 2023,1648299663408373761,Perjalanan panjang mengarungi Liga 1 2022/2023...,Twitter for iPhone
3,Mon Apr 17 05:31:27 +0000 2023,1647835139278528513,A cool place in Jakarta is the basement of Blo...,Twitter for iPhone
4,Tue Apr 18 13:32:09 +0000 2023,1648318500728102914,Bismillah liat langsung woosung as howl ✨\n\nC...,Twitter for iPhone
5,Sun Apr 16 07:34:21 +0000 2023,1647503683146633216,Giveaway 1 Tiket Fanmeet WayV atau Cash 1.785....,Twitter for Android
6,Tue Apr 18 10:38:12 +0000 2023,1648274725200711680,Jakarta lives and breathes football ⚽\n\nWe vi...,"<a href=""https://twitter.com"" rel=""nofollow"">T..."
7,Tue Apr 18 12:06:36 +0000 2023,1648296972254855168,Azumi Ishida mempersembahkan:\n.\n.\nFLAG ALAY...,Twitter for Android
8,Tue Apr 18 01:07:58 +0000 2023,1648131221866844162,OCTOBER AGAIN FOR ASM: JAKARTA??? 😭😭😭😭😭😭😭 http...,Twitter for iPhone
9,Tue Apr 18 09:50:16 +0000 2023,1648262660599988229,𝘾𝙊𝙈𝙄𝙉𝙂 𝙎𝙊𝙊𝙉\n-\nProject 3rd Anniversary for Tr...,Twitter for iPhone
10,Tue Apr 18 08:08:33 +0000 2023,1648237064197132289,𝗧𝗢𝗞𝗬𝗢 | 𝗕𝗟𝗨𝗘 𝗧𝗘𝗔𝗠🔵 | 𝟬𝟳.𝟮𝟵(𝗦𝗔𝗧) \n独創的な世界観、無限の...,Twitter Web App
11,Tue Apr 18 03:06:36 +0000 2023,1648161074766831616,URGENT NEED DONOR ASI JAKARTA TIMUR #DONORASI\...,Twitter for iPhone
12,Tue Apr 18 09:44:11 +0000 2023,1648261130203045888,so im getting mingi like he was in JAKARTA aga...,Twitter for iPhone
13,Tue Apr 18 10:38:05 +0000 2023,1648274696692207616,Dalam kapasitas sbg apa?\n\nDirut KAI ❌\nMente...,Twitter for Android
14,Tue Apr 18 13:23:33 +0000 2023,1648316336261701633,Taylor Swift Indonesia Presents :\n\n✨TSKP : H...,Twitter for iPhone
15,Tue Apr 18 12:00:03 +0000 2023,1648295324447047681,where is that one cute #jihoon video ♡🌱\nhttps...,Twitter for Android
16,Tue Apr 18 12:54:24 +0000 2023,1648308999274795008,when he randomly brought a tangerine to jakart...,Twitter for iPhone
17,Tue Apr 18 11:55:47 +0000 2023,1648294247358156801,Finally there’s an update for the Yerin Baek i...,Twitter for iPhone
18,Tue Apr 18 09:02:41 +0000 2023,1648250688105750530,How much does it cost to be a mascot? https://...,Twitter for Android
19,Tue Apr 18 11:55:56 +0000 2023,1648294285681516545,Yerin Baek in Jakarta\nMay 31\n\nSign up for p...,Twitter for Android
20,Sun Apr 16 13:54:12 +0000 2023,1647599272035241985,🎭 FREEBIES FANMEETING WAYV PHANTOM FOR PETS OW...,Twitter for iPhone
21,Tue Apr 18 01:02:29 +0000 2023,1648129840820920320,LOOOLLLL I FOUND HOONSUK MOMENT AT HELLO TOUR ...,Twitter for Android

In [37]:
tweet_data.to_csv("tweet.csv")

In [10]:
import re
from textblob import TextBlob

In [38]:
analysis_result = []

for tweets in data_to_collect.values():
    tweets_properties = {}
    tweets_properties["tweets_created"] = tweets["created_at"]
    tweets_properties["tweets_id"] = tweets["id_str"]
    tweets_properties["tweets"] = tweets["full_text"]
    cleaned_tweets = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",tweets["full_text"]).split())
    tweets_properties["tweets"] = cleaned_tweets

    analysis = TextBlob(cleaned_tweets)
    if analysis.sentiment.polarity > 0.0:
        tweets_properties["sentiment"] = "Positif"
    elif analysis.sentiment.polarity == 0.0:
        tweets_properties["sentiment"] = "Netral"
    else:
        tweets_properties["sentiment"] = "Negatif"
    
    analysis_result.append(tweets_properties)

In [39]:
positif_tweets = [t for t in analysis_result if t["sentiment"] == "Positif"]
netral_tweets = [t for t in analysis_result if t["sentiment"] == "Netral"]
negatif_tweets = [t for t in analysis_result if t["sentiment"] == "Negatif"]

In [40]:
print("Sentiment Result")
print("Positif", len(positif_tweets), "({} %)".format(100 * len(positif_tweets) / len(analysis_result)))
print("Netral", len(netral_tweets), "({} %)".format(100 * len(netral_tweets) / len(analysis_result)))
print("Negatif", len(negatif_tweets), "({} %)".format(100 * len(negatif_tweets) / len(analysis_result)))

Sentiment Result
Positif 6 (27.272727272727273 %)
Netral 13 (59.09090909090909 %)
Negatif 3 (13.636363636363637 %)